 .body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
     display: grid;
     grid-template-columns: 100px repeat(5, 1fr);
     grid-auto-rows: 50px;
     margin: 10px;
     background-color: white;
     gap: 4px;
     max-width: 900px;
}
.heading{
    text-align: center;
    font-size: 2em;
}
.day{
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;
    background: pink;
    gap: 2px;
}
.day:nth-child(even){
    background: pink;
}
.day:nth-child(odd){
    background: lightyellow;
}
.hour{
    background: skyblue;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
}
.cell:nth-child(even){
    background: pink;
    border-radius: 20px;
}
.cell:nth-child(odd){
    background: lightyellow;
    border-radius: 20px;
}
.note{
    background: skyblue;
    margin-top: 2em;
    max-width: 900px;
    padding: 0.5px;
    border-radius: 20px;
}