.box{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background: rgb(197, 149, 243);
    border-radius: 20px;
    text-align: center;
    color: rgb(24, 13, 98);
    margin: 100px;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.box1{
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.box1 p{
    color: rgb(94, 94, 94);
}
.box1 h1{
    color: black;
}