
.container{
    display: flix;
    width: 500px;
    height: 600px;
    margin: 10px;
    padding: 30px;
    border: 3px solid grey;
    box-shadow: 100px;
    border-radius: 10%;
    text-align: center;
    justify-content: space-between;
    
}
.conatiner,img{
    width: 400px;
    height: 400px;
}
.flip{
    width: 100px;
    height: 80px;
}
.container button{
    background: blue;
    color: white;
}

