.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    gap: 2%;
}
.box{
    text-align: center;
    border: 2px solid white;    
    border-radius: 15px;
    box-shadow: 0 8px 16px rgb(218, 218, 218);
    
}
.box p{
    text-align: center;
}
.box h3{
    text-align: center;
}
.logo{
    height: 100px;
    width: 100px;
}