.card{
    height: 400px;
    width: 300px;
    padding: 20px;
    margin: auto;
    border: 2px solid black;
    box-shadow: 100px;
    border-radius: 50px;
    text-align: center;
}
.card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
